@import '@/assets/variables.scss';

.auth-page {
    grid-column: main-start / main-end;
    grid-row: main-start / main-end;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}


@media (min-width: $screen-sm) {
    .auth-page {
        min-width: 370px;
        grid-column: center;
    }
}
